.home {
    width: 100%;
    height: 80vh;
    display: flex;
    align-self: center;
    justify-content: center;
}

.left_home_top_tab {
    /* align-self: center; */
    justify-content: center;
}

.right_home_top_tab {
    align-self: center;
    justify-content: center;
}