.menu {
    background-color: #FF735C;
    width: 100%;
    min-height: 5vw;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 20% 50%;
}

.left_menu {}

.left_menu .logo {
    width: 90px;
    padding-left: 20px;
}

.right_menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.right_menu .link_menu {
    color: #1A2E35;
    font-weight: bold
}

@media (max-width:720px) {
    .menu {
        grid-template-columns: 20% 70%!important;
    }
}